In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
a = np.array([1,2,3,4])

In [3]:
print(a)

[1 2 3 4]

In [4]:
a

array([1, 2, 3, 4])

In [8]:
b = np.array([2,4,6,8])
b

array([2, 4, 6, 8])

In [9]:
df = pd.DataFrame({'a':a,
                  'b':b})

In [10]:
df

   a  b
0  1  2
1  2  4
2  3  6
3  4  8